
/* --Default Styles-- */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color:rgb(255, 249, 196);
}

main  .container  h2 {
  padding-left: 10px;
  margin-bottom: 0;
}

main h2, main h3, header h1 {
    font-family: 'Lobster', cursive;

}

hr {
  margin: 25px;
  background:#f78b59;
  height:3px; 
}

#contact-form li {
  padding: 5px;
}

.image-circle {
  border-radius: 50%;
}

main h2 {
  font-size: 28px;
  font-weight: 400;
  color:rgb(68, 0, 255)
}

main h3 {
  font-size: 22px;
  font-weight: 900;
}

main p, a {
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0em;
}

#contact-form {
  padding: 2%;
  display: flex;
  align-content: center;
}

/* --Header Styles-- */

header {
  background-color: #f78b59;
  margin-bottom: 40px;
  display: block;
}

header h1 {
  color: #eff0e5;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 56px;
}

 
 footer {
  text-align: center;
  font-size: 10px;
  color: rgb(136, 134, 134);
 }

a:link {color:rgb(255, 0, 0)}
a:hover {color:rgb(0, 255, 13)}
a:visited {color:rgb(0, 0, 253)}

/* --Mobile Style-- */
.container {
  width: 100%;
}

#contact-links,  {
display: flex;
text-align:center;
}

ul {
  text-align:center;
}

.group {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

h2, h3 {
text-align: center;
}

.item {
  flex: 1;
  margin: 10px;
  align-content: center;  
}

.image {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 200px;
  
}


#portfolio .image {
  height: 200px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.item-triple {
  flex: 3;
  margin: 10px;
}

#contact .item{
  word-spacing:10px;
}

li {
  flex: 1;
  display:inline-flex;
  list-style-type: none;
}

/* Border identification styles


.group {
  border-style:dotted;
  border-width: 5px;
  border-color:blue;
}

.container {
  border-style:dotted;
  border-width: 4px;
  border-color:rgb(252, 3, 3);
}

.item, .item-triple, #contact-links {
  border-style:dotted;
  border-width: 3px;
  border-color:rgb(63, 150, 6);
}

.image {
  border-style:groove;
  border-width: 3px;
  border-color:rgb(150, 6, 6);
}

#contact .item li {
  border-style:groove;
  border-width: 3px;
  border-color:rgb(140, 150, 6);
}
 */

/* --Desktop layout-- */

@media all and (min-width: 700px) {
  .container {
    width: 90%;
    margin: 10px;
    }

#about .image {
  margin: 100%;
  margin-left: 0%;
  margin-right:0%;
}

  .group {
    flex-direction: row;
  }
.item img {
  flex-direction: column;
}

#home, #about, #portfolio, #contact {
  display: flex;
  justify-content: center;
}

}